@import 'colors';

body {
  background-color: $beige;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tile {
  height: 200px;
  margin-bottom: 20px;
  background-color: $yellow;
  border-radius: 3px;
}

.time,
.temp {
  font-size: 45px;
  text-align: center;
}
